    /* para la ayuda */
        .contenedor{
          margin-top: 1em;
          text-align: left;
        } 
        /* All Icons*/
        .contenedor .fa{
          font-size: 4em;
          padding: 1em;
          color: #fff;
        }
        .contenedor .fa-pencil{
          text-shadow: 3px 6px #272634;
        }
        .contenedor .fa-facebook-official{
          text-shadow: 3px 3px 16px #272634;
        }
        .contenedor .fa-github{
          text-shadow: -7px 8px 2px #c54040, -3px 5px #c74b16;
        }
        .contenedor .fa-codepen{
          text-shadow: -3px -8px 9px #f78aa0;
        }
        .fa-times-thin:before {
            content: '\00d7';
        }
        #myModal .modal-dialog,
         #myModal .modal-content {
                /* 90% of window height */
                height:65%;
            }
         #myModal .modal-body {
                /* 100% = dialog height, 120px = header + footer */
                background: #d9ebf9;
                max-height: calc(100% - 120px);
                overflow-y: scroll;
                /*line-height: 1; */
                /*font-size: 1em;*/
                text-align:justify;
            }
         #myModal .modal-header {
                background: #0a5897;
                color: #ffffff;
            }
         #myModal .modal-footer{ 
                border-top: 1px solid black;
                background: #0a5897;
                text-align:center;
                
            }
         .p { 
                line-height: 1.2; 
                font-size: 1em; 
                text-indent: 10px;
         }

         .titulo{
            font-weight:bold;
            color:#0a5897;
            /*text-decoration:underline;*/
         }
         .sangria{
            text-indent: 10px;
            
             
         }